.bg-image-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 521px;
  height: 521px;
  flex-shrink: 0;
  border-radius: 521px;
  opacity: 0.2;
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-image-bottom-right {
  position: absolute;
  border-radius: 403px;
  opacity: 0.2;

  top: 202px;
  left: 252px;
  flex-shrink: 0;
}
.hereo-graph_img{
    width:100%;
    height:502px;
    /* border:1px solid red; */
    /* max-width: 707px; */
}
@media (max-width:1200px)
{
    .hero-img{
        position: absolute;
        /* border: 1px solid black; */
        top:-300px;
        right: -60px;
        z-index: -9999;
    }
}

@media (max-width:900px)
{
    .hero-img{
        position: absolute;
        /* border: 1px solid black; */
        top:-300px;
        right: 0px;
        z-index: -9999;
    }
   
}
@media (max-width:786px)
{
    .hero-img{
        position: absolute;
        padding: 40px;
        /* border: 1px solid black; */
        top:-200px;
        right: 0px;
        z-index: -9999;
    }
}
@media (max-width:600px)
{
    .hero-img{
        padding: 40px;
        position: absolute;
        /* border: 1px solid black; */
        top:-290px;
        right: 0px;
        z-index: -9999;
    }
    .hereo-graph_img{
        /* max-width: 307px; */
    }
}

@media (max-width: 1600px) { 
    .hide-on-small-screens {
      display: none;
    }
  }
  