/* reviews.css */



.menreviews{
max-width:798px;
}
/* Image1 */
.reviewimg1 {
    position: absolute;
    bottom: 130px;
    right: 46px;
    max-width: 100px;
  }
  
  /* Image2 */
  .reviewimg2 {
    position: absolute;
    top: 15%;
    left: 90%;
    transform: translate(-50%, -50%);
    max-width: 100px;
  }
  
  /* Image3 */
  .reviewimg3 {
    position: absolute;
    top: 7px;
    left: 97px;
    max-width: 100px;
  }
  
  /* Add a media query for screens smaller than 900px */
  @media (max-width: 900px) {
    /* Hide the images */
    .reviewimg1,
    .reviewimg2,
    .reviewimg3 {
      display: none;
    }
  }
  

  @media (max-width: 600px) {
    .menreviews{
        max-width:400px;
        }
  }
  
  @media (max-width: 400px) {
    .menreviews{
        max-width:320px;
        }
  }
  