.hero_hand_image{
    max-width: 798px !important;
    width:100% !important;
    
}
@media (max-width: 786px) {
  .herohand {
    display: none;
  }
}
/* .herohand{
    border-radius: 0px 320px 320px 0px !important;
    border: 1px dashed #F0EBFA !important;
    opacity: 0.05 !important;
    background: linear-gradient(135deg, #4200FF 0%, #EE726F 47.61%, #0097FF 95.62%)  !important;
    width: 100% !important;
    height: 100% !important;
    position: absolute !important;
    top: 59% !important;
    transform: translateY(-50%) !important;
    right:6% !important;
    z-index: -1 !important;
} */
/* @media (max-width: 1600px) {
    .herohand{
        display: none;
         
    }
  } */
  /* @media (max-width: 1200px) {
    .herohand{
        display: block;
         
    }
  } */
  @media (max-width: 1200px) {
    /* .herohand{
        right:2% !important;
         
    } */
    .hero_hand_image{
        max-width: 698px !important;
        padding: 20px !important;
        align-items: center;
        width:100% !important;
    }
  }
  @media (max-width: 900px) {
   
    .hero_hand_image{
        max-width: 598px !important;
        padding: 50px !important;
        align-items: center;
        width:100% !important;
    }
  }

  @media (max-width: 600px) {
    
    .hero_hand_image{
      
        padding: 30px !important;
        top:25% !important;
       
    }
   
}

