.footer {
    background-color: white;
    color: white;
    padding: 1rem;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 1rem;
  }
  

  .link {
    /* color: #4E4B66; */
    /* font-family: Outfit; */
    /* font-size: 14px; */
    /* font-weight: 500; */
    /* font-style: normal; */
    text-transform: capitalize;
    margin-bottom: 0.5rem;
    margin-top: 10px;
    /* text-decoration: none; */
    cursor: pointer;
  }
  /* Keep your existing styles */

/* Add the following rule for link animation */
.link {
    /* ... Other properties ... */
    position: relative;
    /* transition: color 0.3s; */
    color: #4E4B66;
  }
  
  .link:hover {
    color: #4E4B66;
  }
  
  /* Animation for the underline */
  .link::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: transparent;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 1.5s ease, background-color 1.5s ease;
    
  }
  
  .link:hover::after {
    transform: scaleX(1);
    transform-origin: left;
    background-color: #4E4B66;
  }
  

  
  .logoImage {
    margin-bottom: 1rem;
  }
  
  .appIcons {
    margin-top: 1rem;
  }
  .appIcons {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    ;
    gap: 0.5rem; /* Add some gap between the icons */
  }
  
  .appIcon {
    margin: 0; /* Remove margin to eliminate padding */
  }
  .image-grid-container {
    display: flex;
    justify-content: flex-start;
  }
  
  .grid-image {
    width: 100%;
    height: auto;
  }
  