/* DrawerComp.css

.listItem {
    display: flex;
    align-items: center;
    padding: 8px 16px;
  }
  
  .listItemTextContainer {
    position: relative;
    display: flex; 
    align-items: center; 
  }
  
  .listItemTextContainer::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: #007bff;
    transform: scaleX(0); 
    transform-origin: left; 
    transition: transform 0.3s ease-in-out;
  }
  
  .listItemTextContainer:hover::after {
    transform: scaleX(1); 
  }
  
  .dropdownIcon {
    margin-left: 6px; 
  }
   */