

.tabLabel {
  position: relative;
  display: flex;
  align-items: center;
}

.tabLabel::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: #007bff;
  transform: scaleX(0);
  transform-origin: left;
  /* transition: transform 0.3s ease-in-out; */
}

/* .tabLabel:hover::after {
  transform: scaleX(1);
} */

.dropdownIcon {
  margin-left: 5px;
}

.tabTitle {
  color: #2F2F2F;
  font-size: 16px;
  font-weight: 400;
  font-family: Outfit;
  font-style: normal;
  text-transform: capitalize;
  cursor: pointer;
  /* transition: color 0.3s ease-in-out;  */

}
  &:hover {
    /* color: #007bff; */
  }
  .custom-container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
  