
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700;800;900&display=swap');
.text-font {
  font-family: 'Outfit', sans-serif !important;
}


.gilroy-font {
  font-family: "Gilroy-Medium" !important;
}

/* Define styles for lg screens (1280px and above) */
@media screen and (min-width: 1280px) {
  .text-fontbr::after {
    content: "";
    display: block;
    height: 1rem; /* Adjust the height as needed */
  }
}
img {
  user-drag: none;
  -moz-user-drag: none;
  -webkit-user-drag: none;
}

