/* Define styles for the "herobg-container" class
.herobg-container {
  
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 112vh;
    padding: 0px !important;
    margin: 0 !important;
    opacity: 1;
    margin-top: -14px;
    filter: blur(0.5px);
  }

.hero-frame-img{
    width: 100%;
    max-width: 512px;
    height: 512px;
    position: absolute;

}

  @media (max-width: 1200px) {
    .herobg-container {
  
 

        height: 135vh;
       
        
      }

      .hero-frame-img{
        width: 100%;
        max-width: 512px;
        height: 512px;
        top:10;
        right:20;
    
    }
    
  } */